{{template "header" . }}
<main>
    <div class="container">
        <h1>Welcome to Tennis Scoreboard</h1>
        <p>Manage your tennis matches, record results, and track rankings</p>
        <div class="welcome-image"></div>
        <div class="form-container center">
            <a class="homepage-action-button start-match" href="/new-match">
                Start a new match
            </a>
            <a class="homepage-action-button view-results" href="/matches">
                View match results
            </a>
        </div>
    </div>
</main>
{{template "footer"}}
